<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YYou TTube</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <div class="main-menu" id="main-menu">
        <a href="{{ url_for('host.upload') }}">upload</a>
    </div>
    <div class="main-video">
        {% for video in videos %}
            <div class="main-video__item">
                <a href="{{ url_for('host.watch', video_id=video.id) }}">{{ video.title }}</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>