<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="form-container">
  <h1>Загрузка видео</h1>

  <div class="steps">Информация <span class="dot active"></span> → Дополнения <span class="dot"></span> → Проверка</div>

  <form action="/upload" method="post" enctype="multipart/form-data">
    
    <label for="title">Название <span class="required">(обязательное поле)</span></label>
    <input type="text" id="title" name="title" maxlength="100" required>
    <div class="char-count">0/100</div>

    <label for="description">Описание</label>
    <textarea id="description" name="description" rows="5" placeholder="Расскажите, о чём ваше видео..."></textarea>

    <label for="video_file">Выберите видео</label>
   <input type="file" id="video_file" name="video_file" accept="video/*">

    <label for="image_file">Обложка (необязательно)</label>
    <input type="file" id="image_file" name="image_file" accept="image/*">

    <input type="submit" value="Загрузить видео" class="submit-btn">
  </form>
</div>
</body>
</html>