<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Просмотр видео</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="main-content">
    <div class="video-wrapper">
      <video controls>
        <source src="{{ url_for('host.video_stream', filename=video_id) }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
      </video>
    </div>
  </div>
</body>
</html>